h1{
	background-color: blue;
	color: white;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.right{
	display: flex;
	gap: 30px;
	justify-content: space-around ;
	align-items: center;
}

.left{
	display: flex;
	justify-content: space-around;
	align-items: center;
}