body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #f4f4f4;
    }
    
    h2 {
      color: rgb(0, 0, 255);
    }

    ul, ol {
      font-size: 1.2em;
    }

    li {
      color: #555;
    }